html {
background-color: whitesmoke;
}

body{
text-align: center;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12pt;
}

header {
background-color: #CCCCCC;
padding: 20px 0 20px;
}

nav{
background-color: #99FFFF;
padding: 20px 0 20px;
font-size: 10pt;
}

.menu li {
display: inline;
}

nav a {
color: black;
padding: 0 20px 0 20px;
text-decoration: none;
transition: 0.2s;
}

nav a:hover {
color: yellow;
}

section {
padding: 10px;
}

article {
display: inline-block;
padding: 10px;
width: 66%;
}

aside {
width: 30%;
position: relative;
float: right;
}

aside nav a:hover {
	color: skyblue;
}

footer {
background-color: skyblue;
padding: 20px 0 20px;
}
